<nav class="top-nav">
  <button data-activates="slide-out" class="button-collapse waves-effect"><i class="mdi-navigation-menu"></i></button>
</nav>
<ul id="slide-out" class="side-nav">
  {{navigation}}
</ul>