<nav class="top-nav">
  <div class="nav-wrapper">
  	<button data-activates="slide-out" class="button-collapse waves-effect"><i class="mdi-navigation-menu"></i></button>
  	<a href="{{@blog.url}}" class="brand-logo waves-effect">{{@blog.title}}</a>
	</div>
</nav>
<ul id="slide-out" class="side-nav">
  {{navigation}}
</ul>