<nav>
  <div class="nav-wrapper">
  	<span href="#" data-activates="slide-out" class="button-collapse waves-effect"><i class="mdi-navigation-menu"></i></span>
  	<a href="{{@blog.url}}" class="brand-logo waves-effect">{{@blog.title}}</a>
	</div>
  <ul id="slide-out" class="side-nav">
    {{navigation}}
  </ul>
</nav>